In [1]:
# SOLVED EXAMPLE
# --------------
# Question: Find the maximum and minimum values in a list
print("SOLVED EXAMPLE:")
print("Find the maximum and minimum values in a list")
numbers = [23, 45, 12, 67, 34, 89, 56]
max_val = max(numbers)
min_val = min(numbers)
print(f"List: {numbers}")
print(f"Maximum: {max_val}")
print(f"Minimum: {min_val}")
print("-" * 50)

# ASSIGNMENT QUESTIONS (50 QUESTIONS)
# ==================================

SOLVED EXAMPLE:
Find the maximum and minimum values in a list
List: [23, 45, 12, 67, 34, 89, 56]
Maximum: 89
Minimum: 12
--------------------------------------------------

In [13]:
# Question 1: Create a list of first 10 square numbers
print("Question 1: Create a list of first 10 square numbers")

square=[]

for num in range(1,11):
    square.append(f"{num} = {num**2}")

print(square)

Question 1: Create a list of first 10 square numbers
['1 = 1', '2 = 4', '3 = 9', '4 = 16', '5 = 25', '6 = 36', '7 = 49', '8 = 64', '9 = 81', '10 = 100']

In [1]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("\nQuestion 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")

num=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
add=0
for i in num:
    if i%2==0:
        add+=i

print(f"the sum of all even numbers is :-{add}")

Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
the sum of all even numbers is :-30

In [30]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
print("\nQuestion 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]")
num=[]
value=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
for i in value:
    if i not in num:
        num.append(i)
print(num)

Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [40]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
print("\nQuestion 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order")

list1= [64, 34, 25, 12, 22, 11, 90]

list1.sort(reverse=True)

print(list1)

Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
[90, 64, 34, 25, 22, 12, 11]

In [2]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
print("\nQuestion 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]")

numbers = [15, 23, 31, 42, 56, 78, 91]
value=0
for i in numbers:
    value+=i
    avg=value/len(numbers)

print(f"the average of numbers is {avg}")

Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
the average of numbers is 48.0

In [39]:
# Question 6: Create a list of first 15 Fibonacci numbers
print("\nQuestion 6: Create a list of first 15 Fibonacci numbers")

n_terms = 15
n1, n2 = 0, 1
count = 0

print("Fibonacci sequence:")
while count < n_terms:
    print(n1, end=" ")
    # Calculate the next term
    nth = n1 + n2
    # Update values for the next iteration
    n1 = n2
    n2 = nth
    count += 1

Question 6: Create a list of first 15 Fibonacci numbers
Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [3]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
print("\nQuestion 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]")

list_series=[45, 67, 23, 89, 12, 34, 78,]
largest=0#45,67,89
second=0 #23,34

for i in list_series: #i=1 =45 i=3 i4=89
    if i>largest:
        largest=i
        second=0 #largest=89 Scond=0
    elif i>second and i!=largest:
        second=i
    
print(f"the second largest number in {list_series} is {second}")

Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
the second largest number in [45, 67, 23, 89, 12, 34, 78] is 78

In [45]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("\nQuestion 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")

value=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

value.reverse()

print(value)

Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
print("\nQuestion 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]")

list1=[1, 5, 2, 5, 3, 5, 4, 5, 6]

result=list1.count(5)

print(f"The Number 5 is Appear {result} Times")

Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
The Number 5 is Appear 4 Times

In [24]:
# Question 10: Create a list of prime numbers between 1 and 50
print("\nQuestion 10: Create a list of prime numbers between 1 and 50")

list_prime=[]

for i in range(1,51):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            list_prime.append(i)

print(f"Prime Number Between 1 to 50 is:- {list_prime}")

Question 10: Create a list of prime numbers between 1 and 50
Prime Number Between 1 to 50 is:- [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [37]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

list1=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

flatten_list=[]

for i in list1:
    for j in i:
        flatten_list.append(j)
print(flatten_list)

Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
print("\nQuestion 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]")

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common_elements = list(set(list1) & set(list2))

print(f"Common elements : {common_elements}")

Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
Common elements : [4, 5]

In [46]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
print("\nQuestion 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]")

list_of_lists=[]

list_of_lists.append([1,2,3])
list_of_lists.append([4,5,6])
list_of_lists.append([7,8,9])

print(list_of_lists)

Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [52]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

numbers=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
total=[]
for i in numbers:
    total.append(sum(i))
print(f"The Sum Of Each Sublist Is :-{total}")

Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
The Sum Of Each Sublist Is :-[6, 15, 24]

In [36]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transpose = [[row[i] for row in matrix] for i in range(len(matrix[0]))]

print(f"Transpose of matrix : {transpose}")

Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Transpose of matrix : [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [42]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
print("\nQuestion 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]")
max_count=[]
list1=[[1, 5, 3], [9, 2, 7], [4, 8, 6]]
for i in list1:
    max_count.append(max(i))
print(f"the maximum value in each sublist is {max_count}")

Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
the maximum value in each sublist is [5, 9, 8]

In [47]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print("\nQuestion 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")

three_D_list=[[["apple","mango"]],[["pine apple","orange"]],[["Sugarcane","water melon"]]]

print(three_D_list)

Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[[['apple', 'mango']], [['pine apple', 'orange']], [['Sugarcane', 'water melon']]]

In [32]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print("\nQuestion 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")

list_3D = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
count_sum=0
for num in list_3D:
    for x in num:
        for j in x:
            count_sum+=j

print(f"The Sum of all Element in 3D element is:- {count_sum}")

Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
The Sum of all Element in 3D element is:- 36

In [27]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

num=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
count=[]
for i in num:
    for x in i:
        if x%2==0:
            count.append(x)
print(count)

Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[2, 4, 6, 8]

In [35]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
print("\nQuestion 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]")


my_list = [1, "hello", 3.14, True, [1, 2, 3]]

for item in my_list:
    print(f"Value : {item} , Type : {type(item)}")

Question 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]
Value : 1 , Type : <class 'int'>
Value : hello , Type : <class 'str'>
Value : 3.14 , Type : <class 'float'>
Value : True , Type : <class 'bool'>
Value : [1, 2, 3] , Type : <class 'list'>

In [7]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
print("\nQuestion 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']")

list_1=["apple", "banana", "cherry", "date"]

for i in list_1:
    print(f"{i} = {len(i)}")

Question 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']
apple = 5
banana = 6
cherry = 6
date = 4

In [34]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]")

numbers = [1, 2, 3]
letters = ['a', 'b', 'c']
tuple_list = list(zip(numbers, letters))
print(f"List of tuple : {tuple_list}")

Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
List of tuple : [(1, 'a'), (2, 'b'), (3, 'c')]

In [45]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]")

value=[(1, 'a'), (2, 'b'), (3, 'c')]
result=[]
for i in value:
    result.append(i[0])

print(result)

Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
[1, 2, 3]

In [33]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print("\nQuestion 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]")

my_list = [
    {'name': 'Alice', 'age': 25}, 
    {'name': 'Bob', 'age': 30}
]

print(f"List of dictionaries : {my_list}")

Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
List of dictionaries : [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [32]:
# Question 25: Extract all 'name' values from list of dictionaries
print("\nQuestion 25: Extract all 'name' values from list of dictionaries")

my_list = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
names = [person['name'] for person in my_list]
print(f"Names : {names}")

Question 25: Extract all 'name' values from list of dictionaries
Names : ['Alice', 'Bob']

In [31]:
# Question 26: Find the person with maximum age in list of dictionaries
print("\nQuestion 26: Find the person with maximum age in list of dictionaries")

my_list = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
oldest_person = max(my_list, key= lambda x : x ['age'])
print(f"Person with maximum age : {oldest_person['name']}")

Question 26: Find the person with maximum age in list of dictionaries
Person with maximum age : Bob

In [30]:
# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
print("\nQuestion 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]")
four_d_list = [
    [
        [[1, 2], [3, 4]], 
        [[5, 6], [7, 8]]
    ], 
    [
        [[9, 10], [11, 12]], 
        [[13, 14], [15, 16]]
    ]
]

print(four_d_list)

Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [28]:
# Question 28: Find the maximum value in 4D list
print("\nQuestion 28: Find the maximum value in 4D list")

list_4d = [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
max_value = [val for sub3 in list_4d for sub2 in sub3 for sub1 in sub2 for val in sub1]
print(f"Maximum value in 4D list : {max(max_value)}")

Question 28: Find the maximum value in 4D list
Maximum value in 4D list : 16

In [27]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
print("\nQuestion 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]")

list1=[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]

print(f" List of sets:-{list1}")

Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
 List of sets:-[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [25]:
# Question 30: Find the union of all sets in list of sets
print("\nQuestion 30: Find the union of all sets in list of sets")

list1=[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]

result=[{1, 2, 3}|{4, 5, 6}|{7, 8, 9}]

print(f"Union Of all sets :- {result}")

Question 30: Find the union of all sets in list of sets
Union Of all sets :- [{1, 2, 3, 4, 5, 6, 7, 8, 9}]

In [26]:
# Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
print("\nQuestion 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]")

complex_numbers = [1+2j, 3+4j, 5+6j]
print(f"Complex numbers : {complex_numbers}")

Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
Complex numbers : [(1+2j), (3+4j), (5+6j)]

In [23]:
# Question 32: Find the magnitude of each complex number in list
print("\nQuestion 32: Find the magnitude of each complex number in list")

complex_numbers = [1+2j, 3+4j, 5+6j]
magnitude = [abs(z) for z in complex_numbers]
print(f"Magnitude of complex numbers : {magnitude}")

Question 32: Find the magnitude of each complex number in list
Magnitude of complex numbers : [2.23606797749979, 5.0, 7.810249675906654]

In [22]:
# Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]
print("\nQuestion 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]")

nested_list = [1, [2, 3], [4, [5, 6]], 7] # List inside list is called nested list

print(f"Nested list : {nested_list}")

Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]
Nested list : [1, [2, 3], [4, [5, 6]], 7]

In [ ]:
# Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]
print("\nQuestion 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]")

 
nested_list = [1, [2, 3], [4, [5, 6]], 7]
stack = [(nested_list, 1)]
max_depth = 0

while stack:
    current_list, depth = stack.pop()
    max_depth = max(max_depth, depth)
    
    for i in current_list:
        if isinstance(i, list):
            stack.append((i, depth + 1))
            
print(f"Depth of nesting in {nested_list} : {max_depth}")

Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]
Depth of nesting in [1, [2, 3], [4, [5, 6]], 7] : 3

In [18]:
# Question 35: Create a list of functions: [len, str, int, float]
print("\nQuestion 35: Create a list of functions: [len, str, int, float]")

func_list = [len, str, int, float, bool, True, False, tuple, list, set, dict, type]
print(f"List of functions : {func_list}")

Question 35: Create a list of functions: [len, str, int, float]
List of functions : [<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>, False, True, False, <class 'tuple'>, <class 'list'>, <class 'set'>, <class 'dict'>, <class 'type'>]

In [41]:
# Question 36: Apply each function in list to string "123"
print("\nQuestion 36: Apply each function in list to string '123'")

s = "123"

# A list of functions to apply
functions = [int, float, list, len]

# 1. Using List Comprehension (Recommended)
results = [f(s) for f in functions]
print(f"Results: {results}")

# 2. Using a basic For Loop
results_loop = []
for f in functions:
    results_loop.append(f(s))

# 3. Using map (returns an iterator)
results_map = list(map(lambda f: f(s), functions))

Question 36: Apply each function in list to string '123'
Results: [123, 123.0, ['1', '2', '3'], 3]

In [13]:
# Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]
print("\nQuestion 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]")

lambda_func = [
    lambda x: x*2, 
    lambda x: x**2, 
    lambda x: x+1
]

print(f"List of lambda functions : {lambda_func}")

Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]
List of lambda functions : [<function <lambda> at 0x00000290FDED16F0>, <function <lambda> at 0x00000290FDED14E0>, <function <lambda> at 0x00000290FDED2090>]

In [12]:
# Question 38: Apply each lambda function to 5
print("\nQuestion 38: Apply each lambda function to 5")

lambda_func = [
    lambda x: x*2, 
    lambda x: x**2, 
    lambda x: x+1
]
value = 5

for func in lambda_func:
    print(f"Lambda function to {value} : {func(value)}")

Question 38: Apply each lambda function to 5
Lambda function to 5 : 10
Lambda function to 5 : 25
Lambda function to 5 : 6

In [3]:
# Question 39: Create a list of classes: [list, dict, set, tuple]
print("\nQuestion 39: Create a list of classes: [list, dict, set, tuple]")

class_list=[["mango"],{"name":"Suraj"},{1,2,3},(10,20)]

print(class_list)

Question 39: Create a list of classes: [list, dict, set, tuple]
[['mango'], {'name': 'Suraj'}, {1, 2, 3}, (10, 20)]

In [11]:
# Question 40: Create instances of each class in list
print("\nQuestion 40: Create instances of each class in list")

list_classes = [list, dict, set, tuple]
instances = []

for cls in list_classes:
    instances.append(cls())
    
print(f"Instances of class in list : {instances}")

Question 40: Create instances of each class in list
Instances of class in list : [[], {}, set(), ()]

In [10]:
# Question 41: Create a list of None values: [None, None, None, None]
print("\nQuestion 41: Create a list of None values: [None, None, None, None]")

none_list = [None, None, None, None]

print(f"List of None values : {none_list}")

Question 41: Create a list of None values: [None, None, None, None]
List of None values : [None, None, None, None]

In [9]:
# Question 42: Replace all None values with 0 in list
print("\nQuestion 42: Replace all None values with 0 in list")

none_list = [None, None, None, None]

for i in range(len(none_list)):
    if none_list[i] is None:
        none_list[i] = 0

print(f"Replaced all None values with 0 in list : {none_list}")

Question 42: Replace all None values with 0 in list
Replaced all None values with 0 in list : [0, 0, 0, 0]

In [8]:
# Question 43: Create a list of boolean values: [True, False, True, False]
print("\nQuestion 43: Create a list of boolean values: [True, False, True, False]")

bool_val = [True, False, True, False]

print(f"List of boolean values : {bool_val}")

for i in bool_val:
    print(type(i))

Question 43: Create a list of boolean values: [True, False, True, False]
List of boolean values : [True, False, True, False]
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'bool'>

In [7]:
# Question 44: Count True values in boolean list
print("\nQuestion 44: Count True values in boolean list")

value=[True, False, True, False]
count=0
for bool in value:
    if bool == True:
        count+=1
print(count)

Question 44: Count True values in boolean list
2

In [6]:
# Question 45: Create a list of ranges: [range(3), range(5), range(2)]
print("\nQuestion 45: Create a list of ranges: [range(3), range(5), range(2)]")

range_list = [range(3), range(5), range(2)]

print(f"List of ranges : {range_list}")

for i in range_list:
    print(type(i))

Question 45: Create a list of ranges: [range(3), range(5), range(2)]
List of ranges : [range(0, 3), range(0, 5), range(0, 2)]
<class 'range'>
<class 'range'>
<class 'range'>

In [5]:
# Question 46: Convert each range to list
print("\nQuestion 46: Convert each range to list")

range_list = [range(3), range(5), range(2)]
list_of_lists = []

for i in range_list:
    list_of_lists.append(list(i))
    
print(f"Range to list : {list_of_lists}")

Question 46: Convert each range to list
Range to list : [[0, 1, 2], [0, 1, 2, 3, 4], [0, 1]]

In [4]:
# Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]
print("\nQuestion 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]")

list_of_generators = [(x for x in range(3)), (x for x in range(5))]

print(f"List of generators : {list_of_generators}")

for i in list_of_generators:
    print(type(i))

Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]
List of generators : [<generator object <genexpr> at 0x00000290FDEF53C0>, <generator object <genexpr> at 0x00000290FDEF5220>]
<class 'generator'>
<class 'generator'>

In [3]:
# Question 48: Convert each generator to list
print("\nQuestion 48: Convert each generator to list")

list_of_generators = [(x for x in range(3)), (x for x in range(5))]
generator_list = []

for i in list_of_generators:
    generator_list.append(list(i))
    
print(f"Generator to list : {generator_list}")

Question 48: Convert each generator to list
Generator to list : [[0, 1, 2], [0, 1, 2, 3, 4]]

In [2]:
# Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]
print("\nQuestion 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]")

list_of_iterators = [iter([1, 2, 3]), iter([4, 5, 6])]

print(f"List of iterators : {list_of_iterators}")

for i in list_of_iterators:
    print(type(i))

Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]
List of iterators : [<list_iterator object at 0x00000290F7E4F550>, <list_iterator object at 0x00000290F85EC940>]
<class 'list_iterator'>
<class 'list_iterator'>

In [1]:
# Question 50: Extract all elements from each iterator
print("\nQuestion 50: Extract all elements from each iterator")

list_of_iterators = [iter([1, 2, 3]), iter([4, 5, 6])]
ext_elements = []

for i in list_of_iterators:
    for value in i:
        ext_elements.append(value)
    
print(f"All elements from each iterator : {ext_elements}")

Question 50: Extract all elements from each iterator
All elements from each iterator : [1, 2, 3, 4, 5, 6]