In [1]:
# SET DATATYPE ASSIGNMENT
# ======================

# SOLVED EXAMPLE
# --------------
# Question: Find the union of two sets
print("SOLVED EXAMPLE:")
print("Find the union of two sets")
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Union: {union_set}")
print("-" * 50)

# ASSIGNMENT QUESTIONS
# ===================

SOLVED EXAMPLE:
Find the union of two sets
Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
--------------------------------------------------

In [2]:
# Question 1: Create a set of first 10 natural numbers
print("Question 1: Create a set of first 10 natural numbers")

first_natural=set()

for num in range(1,11):
    first_natural.add(num)

print(f"First 10 Natural number is:- {first_natural}")

Question 1: Create a set of first 10 natural numbers
First 10 Natural number is:- {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
# Question 2: Add element 11 to set {1, 2, 3, 4, 5}
print("\nQuestion 2: Add element 11 to set {1, 2, 3, 4, 5}")

num={1, 2, 3, 4, 5}
num.add(11)

print(num)

Question 2: Add element 11 to set {1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 11}

In [4]:
# Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}
print("\nQuestion 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}")

numbers={1, 2, 3, 4, 5, 6}
numbers.remove(3)

print(numbers)

Question 3: Remove element 3 from set {1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

In [6]:
# Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
print("\nQuestion 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")

num1= {1, 2, 3, 4, 5}

num2={4, 5, 6, 7, 8}

new_value= num1 & num2

print(new_value)

Question 4: Find the intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
{4, 5}

In [ ]:
# Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
print("\nQuestion 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}")

value1= {1, 2, 3, 4, 5} 
value2= {4, 5, 6, 7, 8}

result= value1 - value2
print(result)

Question 5: Find the difference between {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}
{1, 2, 3}

In [15]:
# Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
print("\nQuestion 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}")

numbers= {1, 2, 3, 4, 6, 7, 8,5}

if 5 in numbers:
    print("Number is Found")
else:
    print("Number is not Found")

Question 6: Check if 5 is in set {1, 2, 3, 4, 6, 7, 8}
Number is Found

In [ ]:
# Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}
print("\nQuestion 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}")

values={'a', 'b', 'c', 'd', 'e'}
print(len(values))

Question 7: Find the length of set {'a', 'b', 'c', 'd', 'e'}
5

In [21]:
# Question 8: Create a set of vowels from string "hello world"
print("\nQuestion 8: Create a set of vowels from string 'hello world'")

slogan= "hello world"
letter=set()
vowels="aeiou"

for char in slogan.lower():
    if char in vowels:
        letter.add(char)
print(f"The Vowels in {slogan} is:- {letter}")

Question 8: Create a set of vowels from string 'hello world'
The Vowels in hello world is:- {'e', 'o'}

In [ ]:
# Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set
print("\nQuestion 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set")

list1=[1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
item=set()
for num in list1:
    item.add(num)

print(item)

Question 9: Remove duplicates from list [1, 2, 2, 3, 4, 4, 5, 6, 6, 7] using set
{1, 2, 3, 4, 5, 6, 7}

In [23]:
# Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
print("\nQuestion 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}")

num1= {1, 2, 3}
num2= {1, 2, 3, 4, 5, 6}

print(num1.issubset(num2))

Question 10: Check if {1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
True